html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

/*.main .container-fluid */
.main,
.main .card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


.bcard-header, .right {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.bcard-header {
    margin-top: 20px;
}


.bcard-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.right span {
    line-height: 34px;
}

.right input, .right select {
    width: 140px;
    margin: 0 10px 0 5px;
    height: 34px !important;
}

table th {
    font-size: 16px;
    text-align: center;
}

table td {
    font-size: 18px;
    text-align: center;
}


